
<div class="row">
  <div class="large-12 columns">
    <p class='filename'>{{filename}}</p>
  </div>
</div>

<ul class="button-group">
  <li ng-click="onColor()"><a href="#" ng-class="{alert: colorComposite}" class="tiny button">Color</a></li>
  
  <li ng-if="colorComposite" ng-repeat="index in bands" ng-click="onColorBand(index)">
    <a href="#" ng-class="{alert: colorOrder.indexOf(index) > -1}" class="tiny button">{{index}}</a>
  </li>
  
  <li ng-if="!colorComposite" ng-repeat="index in bands" ng-click="onBand(index)">
    <a href="#" ng-class="{alert: bandIndex === index}" class="tiny button">{{index}}</a>
  </li>
  
</ul>

<div class="large-7 columns">
  <canvas class="raster"></canvas>
</div>

<div class="large-5 columns">
  <div class="histogram"></div>
  <div class="sigmoidal"></div>
</div>