
<!-- <ul class="button-group">
  <li ng-repeat="(filename, metadata) in files"><a href="#/contone/{{filename | getBasename}}/1" class="tiny button">{{filename | getBasename }}</a></li>
</ul> -->

<h6>
  <span ng-repeat="directory in relpath track by $index">{{directory}}</span>  
</h6>
<a href="#" ng-click="onParent()" class="tiny button">Back</a>

<table>
  <tbody>
    <tr ng-repeat="(index, file) in files">
      <td ng-class="{directory: file.isDir}" class="file" ng-click="onFile(file)">{{file.path | getBasename}}</td>
    </tr>
  </tbody>
</table>