
.full {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}


.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush {
  fill: #0071e5;
  fill-opacity: 0.5;
}

.directory:after {
  content: "/";
}

.file {
  cursor: pointer;
}

.filesystem {
  height: 300px;
  overflow: scroll;
}

.filename {
  font-family: Courier, sans-serif;
  font-size: 14px;
}

button.active {
  background-color: red;
}

.band-controls {
  display: inline-block;
}

.inline {
  display: inline-block;
}